.auth-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.auth-form__field {
    margin-bottom: 20px;
}

.auth-form__field input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.auth-form__submit-btn {
    padding: 10px;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-form__submit-btn:hover {
    background-color: #0056b3;
}

/* Responsive styles */
@media (max-width: 600px) {
    .auth-form {
        padding: 10px;
    }

    .auth-form__field input {
        font-size: 14px;
    }

    .auth-form__submit-btn {
        font-size: 16px;
    }
}

.register-link {
    margin-top: 20px;
}

.register-link p {
    text-align: center;
}

.register-link a {
    color: blue;
    text-decoration: none;
}
